:root {
  /* typography */
  --ff-sans: "Jost", sans-serif;
  /* font weight */
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-900: 2rem;
  --fs-800: 1.75rem;
  --fs-300: 0, 9375rem;
  @media (min-width: 53rem) {
    --fs-900: 3rem;
    --fs-800: 2.5rem;
    --fs-700: 1.5rem;
    --fs-400: 1rem;
  }
  /* /////// */
  /* colors */
  /* ///// */

  /* primary */
  --clr-primary-peach: 11, 73%, 66%;
  --clr-primary-black: 270, 3%, 11%;
  --clr-primary-white: 0, 0%, 100%;
  /* secondary */
  --clr-secondary-peach: 11, 100%, 80%;
  --clr-secondary-black: 264, 5%, 20%;
  --clr-secondary-grey: 210, 17%, 95%;

  /* BORDER RADIUS */
  --br-default: 15px;
}
/*// RESET //*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*// GENERAL //*/
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-secondary-black));
  background-color: hsl(var(--clr-primary-white));
}

/* UTILITIES */

/* container */
.container {
  max-width: var(--max-width, 69.4375rem);
  padding-inline: 1.5rem;
  margin-inline: auto;
}
.container[aria-label="full-bleed"] {
  width: 100%;
  padding: 0;
}

/* hero */
.hero {
  color: hsl(var(--clr-primary-white));
  background-color: hsl(var(--clr-primary-peach));

  @media (min-width: 53rem) {
    border-radius: var(--br-default);
    margin-inline: 1.5rem;
  }
}

/* headings */
.heading-1,
.heading-2,
.heading-3 {
  font-weight: var(--fw-medium);
}
.heading-1 {
  font-size: var(--fs-900);
  line-height: 48px;
}
.heading-2 {
  font-size: var(--fs-800);
  letter-spacing: 2px;
  line-height: 48px;

  @media (min-width: 53rem) {
    letter-spacing: 1.4px;
    line-height: 36px;
  }
}
.heading-3 {
  font-size: var(--fs-700);
  letter-spacing: 5px;
  line-height: 26px;

  @media (min-width: 53rem) {
    letter-spacing: 1px;
    line-height: 26px;
  }
}
