/* HERO */
.hero {
  position: relative;
  display: grid;
  gap: 5rem;
  text-align: center;
  padding-top: 5rem;
  height: 52.6875rem;
  overflow: hidden;
}
.hero-circle {
  position: absolute;
  top: 101px;
  right: -16.6rem;
  max-width: min-content;
}
.hero img {
  position: absolute;
  bottom: -12.6rem;
  justify-self: center;
}
.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 2;
}
.hero-body h1 {
  max-width: 20ch;
}
.hero-body p {
  max-width: 35ch;
}

/* DESIGN LINKS */
.design-links {
  padding-block: 7.5rem;
}

/* ILLUSTRATIONS */
.illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-bottom: 7.5rem;
}
.illustrations-col {
  display: grid;
  gap: 2rem;
  text-align: center;
}
.illustrations-img {
  display: grid;
  margin-inline: auto;
}
.illustrations-img > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}
/* background cirlce */
.bg-pattern_1 {
  rotate: -90deg;
}
.bg-pattern_2 {
  rotate: 90deg;
}

.illustrations-col p {
  max-width: 35ch;
  margin-top: 2rem;
}

@media (min-width: 46.5625rem) and (max-width: 61.999rem) {
  /* HERO */
  .hero-circle {
    right: -121px;
  }
  /* ILLUSTRATIONS */
  .illustrations {
    gap: 2rem;
  }
  .illustrations-col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .illustrations-img {
    margin-inline: 0;
  }
  .illustrations-col p {
    max-width: 47ch;
    margin-top: 1rem;
  }
}

@media (min-width: 62rem) {
  /* HERO */
  .hero {
    padding-inline: 5.875rem;
    padding-top: 9rem;
    height: 40rem;
  }
  .hero-circle {
    top: 0;
    right: 0 !important; 
  }
  .hero img {
    bottom: -4.5rem;
    right: 5.875rem;
  }
  .hero-body {
    text-align: left;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .hero-body p {
    max-width: 45ch;
  }

  /* DESIGN LINKS */
  .design-links {
    padding-block: 10rem;
  }

  /* ILLUSTRATIONS */
  .illustrations {
    flex-direction: row;
    align-items: start;
    gap: 1.5rem;
  }
  .illustrations-col {
    gap: 3rem;
  }
}
