.form {
  display: grid;
  gap: var(--form-gap, 1.5rem);
  background-color: transparent;
  z-index: 5;
}

.form button {
  justify-self: center;
  min-width: 9.5rem;
}

.group input,
.group textarea {
  color: hsl(var(--clr-primary-white));
  font-weight: var(--fw-medium);
  background-color: transparent;

  border: 0;
  outline: 0;
  border-bottom: solid 1px hsl(var(--clr-primary-white));
  padding: 0.7rem 1rem;
  width: 100%;
  transition: 250ms ease-in-out;
}

.group textarea{
  padding-bottom: 4.8rem;
}

.group ::placeholder {
  font-size: var(--fs-300);
  color: hsl(var(--clr-primary-white));
  font-weight: var(--fw-medium);
  opacity: 0.5;
}

.group input:is(:hover, :active, :focus),
.group textarea:is(:hover, :active, :focus) {
  border-bottom: solid 3px hsl(var(--clr-primary-white));
}

.group.filled input,
.group.filled textarea {
  border-bottom: solid 3px hsl(var(--clr-primary-white));
}

@media (min-width: 46.5rem) {
  .form button {
    justify-self: end;
  }
}
