/* HEADER */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  align-self: start;
  padding-block: 2rem;
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  cursor: pointer;
  background-image: url("shared/mobile/icon-hamburger.svg");
  background-position: center;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  transition: 250ms linear;

  @media (min-width: 53rem) {
    display: none;
  }
}
.hamburger.open {
  background-image: url("shared/mobile/icon-close.svg");
  rotate: 90deg;
}

@media (min-width: 53rem){
  .header{
    padding-block: 4rem;
  }
}
